{% extends 'base.html' %}

{% block head %}
<title>A propos</title>

{% endblock %}


{% block body %}

<div class="container" style="margin-top: 50px;">
	<div class="row">
	<div class="col col-5" style="background-color: GhostWhite; padding: 30px; border-radius: 30px;">

		<h4>Pourquoi devenir offreur d'idées ?</h4>

		<ul>
			<li>Notre site permet à chacun de se rémunérer grâce aux idées découlant de ses expériences, passions, connaissances.. . Les idées sont infinies c'est pourquoi il est naturel de pouvoir se rémunérer grâce à elles.</li>
			<li>Il offre également la possibilité d'accéder aux demandes, problématiques des entreprises ou autres organismes permettant une double possibilité de rémunération.</li>
			<li>L'inscription, les offres d'idées, la vérification et la protection sont disponibles gratuitement, donc aucun frais ne sera demandé aux offreurs d'idées.</li>
			<li>Ces offres d'idées sont accessibles à tous suivant le temps disponible et les besoins de chacun grâce à 3 niveaux : idée peu développée, moyennement développée et très développée.</li>
			<li>Les offres d'idées peuvent être réalisées dans n'importe quel domaine d'activité.</li>
			<li>Les offreurs pourront discuter entre eux via notre messagerie pour bénéficier d'informations, réaliser leurs expériences, co-créer.. mais aussi pour discuter avec les demandeurs d'idées.</li>
			<li>Notre site permet d'accéder à des outils gratuits pour faciliter au maximum le développement de son idée.</li>
			<li>Les offreurs pourront donc soit se rémunérer en proposant leurs propres idées ou bien en répondant aux problématiques des entreprises.</li>
			<li>Les offreurs prendront en compte l'impact environnemental de leurs idées, de ce fait ils contribueront à des innovations, inventions, decouvertes plus justes tout en luttant contre l'appauvrissement des ressources et le réchauffement climatique.</li>
			<li>Plus le nombre de demandeurs d'idées (entreprises, organismes publics, privés) sera élevé plus les idées des offreurs seront susceptibles d'êtres achetées et plus ils auront accès à des demandes diverses.</li>
			<li>Enfin ils se verront attribuer à chaque contribution d'une offre d'idée, une graine d'arbre qui sera planté en leur nom.</li>
		</ul>
	</div>
		<div class="col col-1"></div>
	<div class="col col-5" style="background-color: LavenderBlush; padding: 30px; border-radius: 30px;">

		<h4>Pourquoi devenir demandeur d'idées ?</h4>

		<ul>
			<li>
				Notre site offre la possibilité de proposer des problématiques auxquelles font face les entreprises mais aussi de pouvoir doublement trouver des solutions :
				<ul>
					<li>Soit par la réponse des offreurs d'idées à leur demande </li>
					<li>soit en recherchant des idées inédites dans la bibliothèque d'idées.</li>
				</ul>
			</li>
			<li>Notre site offre la possibilité de diminuer les coûts des entreprises et d'augmenter leurs productivité et compétitivité enaccédant à une multitude d'idées riches et variées puisque résultant de ressources et compétences diverses. (notamment des idées auxquelles ils n'auraient pas pensé en interne ou dont ils n'ont pas les compétences.)</li>
			<li> Il offre également la possibilité d'externaliser une partie, ou l'intégralité de leurs recherche grâce à cette multitude d'idées et notamment grâce aux 3 niveaux : Idées peu développée, moyennement développée et très développée.</li>
			<li>Il permet de choisir des idées plus ou moins développées donc plus ou moins chères suivant leurs besoins.</li>
			<li>Il offre la possibilité d'échanger via notre messagerie avec les offreurs pour par exemple avoir plus de détails sur leurs idées, co-créer avec eux..</li>
			<li>Notre site permet de bénéficier d'outils facilitant l'accès aux idées, notamment en recherchant par mot clé des idées dont ils auraient besoin.</li>
			<li>Les idées offertes permettront d'intégrer de manière plus ou moins développées leurs impacts environnementaux, permettant de répondre aux contraintes réglementaires mais aussi d'innover durablement.</li>
			<li>Les demandeurs d'idées se verront attribué une graine d'arbre en leurs noms pour chaque demande réalisée tout comme les offreurs d'idées.</li>
		</ul>
	</div>
		</div>
	<div class="row" style="margin-top: 50px; background-color: FloralWhite; margin-bottom: 15px; border-radius: 30px; padding: 15px;">
		<h4>Qui sommes nous ?</h4>

		<p>
			Je m'appelle Rémy, j'ai 26 ans et j'ai effectué une licence à l'université d'Évry puis un Master finance à l'INSEEC Business School à Paris. Je suis depuis peu de temps dans la vie active au poste de contrôleur de gestion.
		</p>
		<p>
			J'ai depuis toujours réalisé des petits projets surtout artistiques et lu beaucoup de livres en m'intéressant de près à l'innovation et l'environnement. Il s'avère que ces 2 thématiques sont passionnantes car elles sont à la fois opposées et se rejoignent. En effet l'innovation entraîne une hausse de l'épuisement des ressources et des émissions à cause de son effet volume mais peut être à la source de grands changements comme avec les énergies renouvelables.
		</p>
		<p>
			C'est donc ce que j'essaie de combiner au sein de cette entreprise où l'objectif est d'innover durablement. De plus mon autre but est que tout le monde puisse devenir acteur de ce changement puisque les ressources et compétences sont inégalement réparties et que les idées peuvent surgir de partout.
		</p>

		</div>
</div>

{% endblock %}