{% extends 'base.html' %}

{% block head %}
<title>Panier</title>

{% endblock %}


{% block body %}



<div class="container">
<div class="row">
    <p>Votre panier <b>{{ cart.buyer.username }}</b></p>
</div>
    {% for idea in cart.ideas.all %}
  <div class="row">

<div class="card" style="width: 18rem;">

    <ul class="list-group list-group-flush">

    <li class="list-group-item">Idée "{{ idea.name }}" <br>de {{ idea.thinker }}<br>{{ idea.price }} €</li>
  </ul>

    <form method="post" action="{% url 'ideas:delete-from-cart' pk=idea.pk %}">
        {% csrf_token %}
        <input type="submit" value="Supprimer" class="btn btn-danger" style="margin-bottom: 10px;">
    </form>

</div>
  </div>

    {% endfor %}
<div class="row">

    <b>Total du panier : {{ cart.total_cart }}</b>
<div class="row">
<form action="{% url 'ideas:create-checkout-session' %}" method="post">
    {% csrf_token %}
<button type="submit">Procéder au paiement</button>

</form>

</div>
</div>
</div>

{% endblock %}