{% extends 'base.html' %}

{% block head %}
<title>Nouvelle idée</title>

{% endblock %}


{% block body %}
<div class="container">
	<div class="row">
		<div class="col">
			<h2>Soumission d'une nouvelle idée</h2>
			<form method="post" class="form" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<input type="submit" value="Poster" class="btn btn-outline-dark">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<h3>Consignes</h3>
			<p>
				<a class="btn btn-primary" data-bs-toggle="collapse" href="#level1" role="button" aria-expanded="false" aria-controls="level1">Niveau 1</a>
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#level2" aria-expanded="false" aria-controls="level2">Niveau 2</button>
				<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#level3" aria-expanded="false" aria-controls="level3">Niveau 3</button>

			</p>
			<div class="row">
				<div class="col">
					<div class="collapse multi-collapse" id="level1">
						<div class="card card-body">
                            <h3>Niveau 1</h3>
							<p>
								1/ Donne un titre à ton idée
							</p>
							<p>
								2/ Résume en 2 lignes ton idée en étant le plus clair, concis et précis possible
							</p>
							<p>
								3/ Détaille ton idée en prenant en compte les avantages et inconvénients potentiels (surtout économiques, financiers, environnementaux et si possible sociaux, politique, juridique.)
								<br>
								Essaye d'être le plus précis possible et d'apporter des éléments chiffrés.
								<br>
								Voici ci-dessous l'exemple que tu pourras utiliser en l'adaptant à ton idée cependant tu peux aussi répondre à cette question à ta manière :<br>

								<br>
								Tu peux aussi utiliser chat gpt pour gagner du temps : https://openai.com/blog/chatgpt
							</p>
							<p>4/ Décris la faisabilité de ton idée (En quoi est-elle applicable ?)
							</p>
							<p>5/ Réalise un ou plusieurs designs de ton idée en expliquant les mécanismes à l'œuvre pour son fonctionnement .
							<br>
								Plus ton idée sera détaillée mieux elle sera rémunérée et protégée.
								<br>
								Tu peux utiliser canva pour le design : https://www.canva.com/fr_fr/
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="level2">
						<div class="card card-body">
                            <h3>Niveau 2</h3>
							<p>
								1) Donne un titre à ton idée
							</p>
							<p>
								2) Résume ton idée en 2 lignes en étant le plus clair, concis et précis possible.
							</p>
							<p>
								3) Détaille ton idée en prenant en compte les avantages et inconvénients potentiels. (économiques, financiers, environnementaux, et si possible sociaux, politiques, juridiques.)
							<br>
								Essaye d'être le plus précis possible et d'apporter des éléments chiffrés.
								<br>
								Voici ci-dessous l'exemple que tu pourras utiliser en l'adaptant à ton idée cependant tu peux aussi répondre à cette question à ta manière :
								<br>
								Tu peux aussi utiliser chat gpt pour gagner du temps : https://openai.com/blog/chatgpt
							</p>
							<p>
								4) Décris la faisabilité de ton idée (En quoi est-elle elle applicable ?)
							</p>
							<p>
								5) Réalise un ou plusieurs designs de ton idée en expliquant les mécanismes à l'œuvre pour son fonctionnement .
								<br>
								Plus ton idée sera détaillée mieux elle sera rémunérée et protégée
								<br>
								Tu peux utiliser canva pour le design : https://www.canva.com/fr_fr/
							</p>
							<p>
								6) Réalise une étude de marché + un plan financier + un bilan carbone potentiel de ton idée en t'appuyant sur un produit, service ou procédé similaire à l'aide de chat gpt et un modèle de business plan gratuit :
							</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="collapse multi-collapse" id="level3">
						<div class="card card-body">
                            <h3>Niveau 3</h3>
							<p>1) Donne un titre à ton idée</p>
							<p>2) Résume ton idée en 2 lignes en étant le plus clair concis et précis possible.</p>
							<p>3) Détaille ton idée en prenant en compte les avantages et inconvénients potentiels (surtout économiques, financiers, environnementaux, et si possible sociaux, politique, juridique..)
							<br>
							Essaye d'être le plus précis possible et d'apporter des éléments chiffrés.
							<br>
							Voici ci-dessous l'exemple que tu pourras utiliser en l'adaptant à ton idée cependant tu peux aussi répondre à cette question à ta manière :
							<br>
							Tu peux aussi utiliser chat gpt pour gagner du temps : https://openai.com/blog/chatgpt
							</p>
							<p>4) Décris la faisabilité de ton idée (En quoi ton idée est elle applicable ?)</p>
							<p>5) Réalise un ou plusieurs design de ton idée en expliquant les mécanismes à l'œuvre pour son fonctionnement.
							<br>
								Plus ton idée sera détaillé mieux elle sera rémunérée et protégée.
							<br>

								Tu peux utiliser canva pour le design : https://www.canva.com/fr_fr/
							</p>
							<p>6) Réalise un business plan financier + un bilan carbone de ton idée en t'appuyant sur un produit, service ou procédé similaire à l'aide de chat gpt et d'un modèle de business plan gratuit :</p>
							<p>7) Vérifie le caractère nouveau de ton idée pat mot clé dans la littérature scientifique en utilisant chat gpt : https://openai.com/blog/chatgpt</p>
							<p>8) Crée ton expérience quantitative et ou qualitative en expliquant la méthode employée et l'interprétation de tes résultats. Pour cela tu peux utiliser Google form : https://www.google.com/forms/about/</p>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}