{% extends 'base.html' %}

{% block head %}
<title>{{ idea.name }}</title>

{% endblock %}


{% block body %}
<div class="container text-center idea">
	<div class="row">
		<h1>{{ idea.name }}</h1>
		<div class="detail">
			{{ idea.details|safe }}
		</div>
	</div>
	<div class="row">

		{% if idea.sketch %}
			<p>Croquis :</p>
		<a href="{{ idea.sketch.url }}" target="_blank"><img src="{{ idea.sketch.url }}" class="rounded mx-auto d-block" alt="croquis de {{ idea.name }}"></a>
		{% endif %}

	</div>
	<div class="row">
		<div class="published">
			Publié par {{ idea.thinker.username }} le {{ idea.date }}
		</div>
	</div>
</div>


<div class="container text-center" style="margin-top:20px;">
	<h3>Commentaires</h3>
	{% for comment in comments %}
<div class="card">
  <div class="card-header">
	  {{ comment.user.username }} - {{ comment.date }}
  </div>
  <div class="card-body">

    <p class="card-text">{{ comment.content|safe }}</p>

  </div>
</div>
{% endfor %}
</div>



<div class="container text-center" style="margin-top: 50px;">
	<div class="row">
<form method="post">
    {% csrf_token %}
	{{ form.media }}
    {{ form.as_p }}
    <input type="submit" value="Envoyer" class="btn btn-success">
</form>

	</div>



</div>

{% endblock %}