{% extends 'base.html' %}

{% block head %}
<title>Index</title>

{% endblock %}


{% block body %}
<div class="container" style="margin-top: 30px; margin-bottom: 30px;">
<h2 class="display-2">Bienvenu(e) sur Rémy Project</h2>
<p>Les inventions, découvertes, innovations ont considérablement augmenté nos niveaux de vie depuis 2 siècles.
  Toutefois leurs impacts environnementaux n'ont pratiquement jamais été pris en compte et nous souhaitons que cela change.
  Par ailleurs, nous pensons que la créativité d'une foule sera toujours plus riche que celles de certains experts.
  C'est ce mélange de créativité issue de la multitude prenant en compte les effets environnementaux sur les idées que
  nous souhaitons mettre en œuvre en créant un service d'offres et de demandes d'idées rémunéré et ouvert à tous.</p>
</div>


<div class="container">

  <div class="row">

     <div class="col-6">
         <h4>Dernières Idées publiées</h4>

       {% for idea in ideas %}
    <div class="card">
  <div class="card-header">
    Le {{ idea.date }} par {{ idea.thinker.username }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ idea.name }}</h5>
    <p class="card-text">{{ idea.summary }}</p>
    <a href="{% url 'ideas:idea-detail' slug=idea.slug %}" class="btn btn-primary">Voir le détail</a>
  </div>
</div>

       {% endfor %}

    </div>


    <div class="col-6">
        <h4>Dernières Demandes d'Idées publiées</h4>

      {% for request_idea in request_ideas %}
    <div class="card">
  <div class="card-header">
    Le {{ request_idea.date }} par {{ request_idea.thinker.username }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ request_idea.name }}</h5>
    <p class="card-text">{{ request_idea.summary }}</p>
    <a href="{% url 'ideas:idea-detail' slug=request_idea.slug %}" class="btn btn-primary">Voir le détail</a>
  </div>
</div>
       {% endfor %}

    </div>
  </div>

        <div class="d-grid gap-2">
  <a href="{% url 'ideas:all' %}" class="btn btn-primary" style="margin-top: 15px; margin-bottom: 15px;">Accéder à toutes les idées et demandes d'idées publiées</a>

</div>


</div>

{% endblock %}