{% extends 'base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">

<form method="post" class="form">
{% csrf_token %}
    {{ form.as_p }}

<input type="submit" value="Modifier" class="btn btn-outline-dark">
</form>
                </div>
    </div>


<a href="{% url 'account:change-password' %}" class="btn btn-outline-dark" style="margin-top: 10px;">Modifier son mot de passe</a>
{{ error }}
    </div>
{% endblock %}