body {
  background: linear-gradient(to right, LightCyan, LightBlue, PowderBlue);
}

.navbar {
  border-radius: 20px;
  background: linear-gradient(to right, LightCyan, LightBlue, PowderBlue);
}

.card {
    margin-top: 15px;
    background: MintCream;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

.idea h1 {
    margin-top: 100px;
}

.idea .detail {
    margin-top: 50px;
}

.idea .published {
    margin-top: 50px;
}

.idea {
    border-radius: 30px;
    background-image: linear-gradient(to right, AliceBlue,LightCyan);
}
